---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Personal Site">
	<main class="p-8">
		<h1 class="text-5xl font-bold text-cyan-400">Webby Site</h1>
		<p class="mt-4 text-neutral-400">
			Yummy = Astro, React, TypeScript, and Tailwind CSS.
		</p>
		<p class="text-neutral-400">
			Time to learn this.
		</p>
	</main>
</Layout>